.modalContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top:0;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: rgba(59,62,62,0.63);

  & .modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: max-content;
    width: 600px;


    & .modalHeader{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 600px;
      height: 60px;
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid lightgray;
      background-color: white;

      & label{
        margin-left: 12px;
        font-size: 24px;
        font-weight: bold;
        color: #6b6b6b;
      }

      & i {
        cursor: pointer;
        margin-right: 12px;
        color:darkgrey;
      }
    }

      & form {
        display: flex;
        flex-direction: column;
        width: 540px;
        height: max-content;
        padding: 12px 0 0 0;
        background-color: white;

        & .modalBody{
          height: max-content;
          display: flex;
          flex-direction: column;
          width: 540px;
          padding: 12px 0 0 0;
          background-color: white;

        & label {
          font-size: 20px;
          font-weight: bold;
          color: #6b6b6b;
          margin: 6px 0 6px 0;
        }

        & input {
          margin: 6px 0 6px 0;
        }

        & input[type=text] {
          border: 1px solid lightgray;
          border-radius: 3px;
          height: 24px;
          outline: none;
          width: 540px;
          margin: 6px 0 6px 0;
        }

        & input[type=button] {
          cursor: pointer;
          height: 24px;
          width: 60px;
          color: white;
          border-radius: 3px;
          outline: none;
        }

        & .questionsContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 540px;

          & .questions {
            display: flex;
            flex-direction: column;
            width: 540px;
            margin-top: 12px;

            & .labelDiv {
              display: flex;
              width: 540px;
              justify-content: space-between;

              & label {
                margin: 12px 0 0 0;
              }

              & input[type=button] {
                background-color: #d24445;
                border: 2px solid #d24445;
                margin: 12px 0 0 0;
              }

              & input[type=button]:hover {
                background-color: #b43434;
                border: 2px solid #b43434;
              }
            }

            & .answers {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;
              margin-top: 12px;

              & input[type=text] {
                width: 400px;
              }

              & input[type=button] {
                width: 540px;
                background-color: #6288e1;
                border: 2px solid #6288e1;
                border-radius: 3px;
              }

              & input[type=button]:hover {
                background-color: royalblue;
                border: 2px solid royalblue;
              }

              & .inputDiv {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

                & input[type=radio] {
                  cursor: pointer;
                  border: 1px solid lightgray;
                  border-radius: 3px;
                  height: 16px;
                  width: 16px;
                  outline: none;
                  margin: 10px 0 0 0;
                }

                & input[type=button] {
                  width: 60px;
                  background-color: #d24445;
                  border: 2px solid #d24445;
                }

                & input[type=button]:hover {
                  background-color: #b43434;
                  border: 2px solid #b43434;
                }
              }
            }
          }
        }
      }
        & .modalFooter{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 600px;
          background-color: lightgrey;
          border-radius: 0 0 8px 8px;
          margin-left: -30px;

          & input[type=button] {
            cursor: pointer;
            width: 200px;
            height: 48px;
            background-color: #6288e1;
            border: 2px solid #6288e1;
            border-radius: 3px;
            font-size: 16px;
            font-weight: bold;
            color:white ;
          }

          & input[type=button]:hover {
            background-color: royalblue;
            border: 2px solid royalblue;
          }

          & button  {
            width: 96px;
            height: 48px;
            cursor: pointer;
            border-radius: 6px;
            outline: none;
            font-size: 16px;
            font-weight: bold;
          }
          & .button1 {
            margin: 24px 0 24px 24px;
            width: 96px;
            height: 48px;
            & button {
              color: #6b6b6b;
              background-color: white;
              border: 1px solid #6b6b6b;
            }

            & button:hover{
              background-color: #e7e7e7;
            }
          }

          & .button2 {
            margin: 24px 30px 24px 12px;
            width: 96px;
            height: 48px;
            & button {
              background-color: #57a563;
              border: 2px solid #57a563;
              color: white;
            }

            & button:hover{
              background-color: #448745;
              border: 2px solid #448745;
            }
          }
        }

      & .formStyleContainer{
        display: flex;
        justify-content: space-between;
        width: 540px;
        margin-top: 12px;
        border-bottom: 1px solid lightgray;
        background-color: white;

        & .formStyleColumn{
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 120px;
          margin-bottom: 12px;

          & label {
            font-size: 19px;
            font-weight: bold;
            color: #6b6b6b;
            margin: 12px 0 12px 0;
          }

          & .box{
            display: flex;
            background-color: #6b6b6b;
            justify-content: center;
            align-items: center;
            color: lightgrey;
            width: 120px;
            height: 120px;
            border-radius: 8px;

          }
        }
      }
    }
    & .bodyFooter {
      background-color: white;
      display: flex;
      width: 540px;
      justify-content: space-between;
      padding: 6px 0 24px 0;

      & label {
        font-size: 20px;
        font-weight: bold;
        color: #6b6b6b;
        margin: 12px 0 12px 0;
      }

      & select {
        border: 1px solid lightgray;
        border-radius: 3px;
        height: 30px;
        outline: none;
      }
      & .col1{
        display: flex;
        flex-direction: column;
        width: 160px;
      }
      & .col2{
        display: flex;
        flex-direction: column;
        width: 320px;
      }
    }
  }
}